@import '../../../site-theme';

// Define the dark theme.
$primary: mat-palette($mat-pink);
$accent:  mat-palette($mat-blue-grey, A200, A100, A400);

$theme: mat-dark-theme($primary, $accent);
@include angular-material-theme($theme);
@include ng-site-theme($theme);
