@import '~@angular/material/theming';
@import './site-theme';


// Include material core styles.
@include mat-core();


// Define the light theme.
$primary: mat-palette($mat-indigo);
$accent:  mat-palette($mat-pink, A200, A100, A400);

$theme: mat-light-theme($primary, $accent);
@include angular-material-theme($theme);
@include ng-site-theme($theme);
